/* Text Styles */
hr { color: #000000}
body, table /* Normal */
{
 font-size: 10pt;
 font-family: 'Arial';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Bullets /* Bullets */
{
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
 color: #000000;
}
span.f_Comment /* Comment */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 9pt;
 font-family: 'Courier New';
 color: #000000;
}
span.f_GUIName /* GUIName */
{
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 12pt;
 font-family: 'Verdana';
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
span.f_Numbered /* Numbered */
{
 color: #000000;
}
span.f_NumberedText /* Numbered Text */
{
 color: #000000;
}
span.f_Numbered-Bullets /* Numbered-Bullets */
{
 color: #000000;
}
span.f_Subheader /* Subheader */
{
 font-size: 11pt;
 font-family: 'Tahoma';
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 4px 0px 4px 0px;
}
.p_Bullets /* Bullets */
{
 text-indent: -24px;
 margin: 0px 0px 4px 48px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
 margin: 0px 0px 0px 0px;
}
.p_Comment /* Comment */
{
}
.p_GUIName /* GUIName */
{
 margin: 0px 0px 4px 0px;
}
.p_Heading1 /* Heading1 */
{
 margin: 0px 0px 0px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_Notes /* Notes */
{
 text-indent: -48px;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 background: #dbdbdb;
 padding: 1px 1px 1px 1px;
 margin: 7px -1px 7px 47px;
}
.p_Numbered /* Numbered */
{
 text-indent: -24px;
 margin: 0px 0px 4px 48px;
}
.p_NumberedText /* Numbered Text */
{
 margin: 0px 0px 4px 48px;
}
.p_Numbered-Bullets /* Numbered-Bullets */
{
 text-indent: -24px;
 margin: 0px 0px 4px 72px;
}
.p_Subheader /* Subheader */
{
 margin: 8px 0px 8px 0px;
}
