<OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
 WIDTH="1024"
 HEIGHT="768"
 CODEBASE="http://active.macromedia.com/flash5/cabs/swflash.cab#version=5,0,0,0">
  <PARAM NAME="MOVIE" VALUE="out.swf">
  <PARAM NAME="PLAY" VALUE="true">
  <PARAM NAME="LOOP" VALUE="true">
  <PARAM NAME="QUALITY" VALUE="high">
  <EMBED SRC="out.swf" WIDTH="1024" HEIGHT="768"
   PLAY="true" ALIGN="" LOOP="true" QUALITY="high"
   TYPE="application/x-shockwave-flash"
   PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
  </EMBED>
</OBJECT>
