TH.title {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: #F0F0F0; COLOR: black; FONT-FAMILY: sans-serif
}
TD.title {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: purple; FONT-FAMILY: sans-serif
}
TD.value {
	FONT-WEIGHT: plain; FONT-SIZE: 80%; COLOR: black; FONT-FAMILY: sans-serif
}

#header {
  float:left;
  width:100%;
  background:#BBD9EE;
  padding:0;
  font-size:0.8em;
  line-height:normal;
}

#header ul {
  margin:0;
  padding:10px 0 0 10px;
  list-style:none;
}

#header li {
  display:inline;
  margin:0;
  padding:0;
}

#header a {
  float:left;
  background:#E7F1F8 url("/imidio/images/tab.png") no-repeat left top;
  padding:0 0 0 9px;
  text-decoration:none;
  color:#000;
}

#header a span {
  float:left;
  display:block;
  background:#E7F1F8 url("/imidio/images/tab.png") no-repeat right top;
  padding:4px 15px 3px 6px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}

/* End IE5-Mac hack */

/*
 *	1. At this point many things are simplified. The hover and background colors are set,
 *	and no positions are used because we aren't swapping images
 *	2. 'padding-bottom:4px;' on the current span pushes that tab 1px higher than the others, 
 *	exposing 1px of the background color of #header and giving the effect of an underline.
 */
	
#header #current a span {
  padding-bottom:4px;
}
#header a:hover, #header a:hover span {
  background-color:#E4F1BC;
  color:#000;
}
#header #current a span, #header #current a {
  background-color:#fff;
}

#leftcol {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-top: 0px;
    background: #F0F0F0;
    color: #000;
    padding: 3px;
}

#content {
    margin-left: 170px;
    margin-top: 0px;
    padding: 3px;
    color: #000;
}
